body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  text-decoration: none;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  /* deleted padding: 24px 0; */
}
.header-container {
  /* deleted padding */
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  padding: 24px 0;
}
.header-logo-font {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.header-logo .header-logo-font:hover,
.header-logo .header-logo-font:focus,
.header-logo .header-logo-font:active {
  color: #404bbf;
}
.header-navigation {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #2e2f42;
  display: flex;
  align-items: center;
}
.header-navigation-list {
  color: #2e2f42;
  display: flex;
  gap: 40px;
}
.header-navigation-link {
  color: #2e2f42;
  display: block;
  padding: 24px 0;
}
.header-navigation-list a:hover,
.header-navigation-list a:focus {
  color: #404bbf;
}

.header-address {
  font-weight: 400;
  font-style: normal;
  color: #434455;
  display: flex;

  gap: 40px;
  margin-left: auto;
}
.contacts {
  display: flex;
  gap: 40px;
}
.header-address-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-address-list:hover,
.header-address-list:focus {
  color: #404bbf;
}

.main-section {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  display: flex;
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;

  max-width: 496px;
  margin: 0 auto 48px auto;
}
.main-button {
  /* added height and border */
  font-family: "Roboto", sans-serif;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  cursor: pointer;
  min-width: 169px;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  border: none;
}
.main-button:hover,
.main-button:focus {
  background: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.our-features {
  padding: 120px 0;
}
.features-list {
  display: flex;
  gap: 24px;
}
.feature-item {
  width: calc((100% - (3 * 24px)) / 4);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.features {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin: 0 auto 72px;
}
.team-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.team-cards {
  background-color: #fff;
  width: calc((100% - (3 * 24px)) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  /* deleted margin right 24px */
}
.team-cards:last child {
  margin-right: 0;
}
.photo {
  width: 100%;
  max-width: 264px;
  height: auto;
}
.team-info {
  padding: 32px 0px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

.team-features {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.our-portfolio {
  padding: 120px 0;
  /* deleted margin-bottom: 72px; */
}

.title-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin: 0 auto 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.portfolio-item {
  width: calc((100% - (2 * 24px)) / 3);
}
.info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-features {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px; /* deleted
  /* deleted text-align: center; */
}
.portfolio-features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  /* deleted margin-bottom: 32px; */
  /* deleted text-align: center; */
}
.footer {
  background: #2e2f42;
  padding: 100px 0;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}
.footer-logo-font {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  margin-bottom: 16px;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  /* deleted margin-top: 16px; */
}
